@charset "utf-8";
/**
 * Reset CSS
 * author:
 * date:2015-7-13;
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
keygen,
legend,
menu,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
abbr,
fieldset,
img {
  border: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
address,
em,
i,
optgroup {
  font-style: normal;
}
img {
  vertical-align: middle;
}
q:before,
q:after {
  content: '';
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
small {
  font-size: 85.7%;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
/* HTML 5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}
html {
  overflow-y: scroll;
}
body {
  color: #333333;
  font: normal 12px/1.4 Verdana, "Lantinghei SC", "Hiragino Sans GB", 'Microsoft YaHei', Helvetica, arial, simsun, sans-serif;
}
input,
button {
  outline: 0;
}
table {
  max-width: 100%;
}
a {
  color: #0e90d2;
  text-decoration: none;
}
a:hover {
  color: #095f8a;
  text-decoration: none;
}
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.symbol {
  /* 符号字体 */
  font-family: simsun !important;
}
.clear {
  clear: both !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.block {
  display: block !important;
}
.hide {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}
/* text hide */
.text-hide {
  overflow: hidden;
  text-indent: -999em;
}
.disabled:hover,
.disabled:hover a {
  cursor: default !important;
  cursor: not-allowed !important;
}
.full-block {
  display: block;
  width: 100% !important;
}
/* color */
.light-color {
  /* 浅色 */
  color: #999999 !important;
}
.tip-color {
  /* 提示色 */
  color: #fd6505 !important;
}
.warn-color {
  /* 警告色 */
  color: #ff0000 !important;
}
.success-color {
  /* 成功色 */
  color: #339734 !important;
}
.no-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
/* text align */
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
/* mask */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.4;
}
/* position */
.static {
  position: static !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
/* control base */
input,
button,
.btn,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
.btn,
select,
label {
  vertical-align: middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  line-height: normal !important;
  cursor: pointer;
}
.placeholder {
  color: #999999 !important;
}
.error-input,
.error-input:focus,
.error-input:hover {
  background: #ffe8e8 !important;
  border: 1px solid #ef7f7f !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.error-txt {
  color: #ff0000 !important;
}
.success-txt {
  color: #35b558 !important;
}
/* note */
.note {
  color: #666666;
  vertical-align: middle;
}
span.note {
  padding-left: 5px;
}
div.note {
  padding: 4px 0 0;
  line-height: 12px;
}
.note strong {
  padding: 0 5px;
  color: #ff0000;
}
.note b {
  padding: 0 5px;
  color: #333333;
}
/* checkbox & radio */
/* button */
.btn {
  height: 26px;
  padding: 0 15px;
  font-size: 12px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.8s, border-color 0.8s;
  -moz-transition: background-color 0.8s, border-color 0.8s;
  transition: background-color 0.8s, border-color 0.8s;
  background: #eaeaea;
  border-color: #eaeaea;
  color: #666666;
  /* 以下样式针对非 input、button 的其他标签 */
  display: inline-block;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
.btn .icon {
  margin-right: 5px;
}
.btn:hover {
  background: #eeeeee;
  color: #999999;
}
.btn:active {
  background: #eeeeee;
  color: #999999;
}
.btn:hover {
  text-decoration: none;
}
.btn:not(button) .icon {
  position: relative;
  top: -1px;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  background: #eeeeee !important;
  border: 1px solid #e7e7e7 !important;
  color: #999999 !important;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* button theme */
.btn-def {
  background: #35b558;
  border-color: #35b558;
  color: #ffffff;
}
.btn-def:hover {
  background: #66d178;
  border-color: #66d178;
  color: #ffffff;
}
.btn-def:active {
  background: #66d178;
  border-color: #66d178;
  color: #ffffff;
}
.btn-primary {
  background: #2d85ca;
  border-color: #2d85ca;
  color: #ffffff;
}
.btn-primary:hover {
  background: #4a9bdb;
  border-color: #4a9bdb;
  color: #ffffff;
}
.btn-primary:active {
  background: #4a9bdb;
  border-color: #4a9bdb;
  color: #ffffff;
}
.btn-warn {
  background: #ff5c00;
  border-color: #ff5c00;
  color: #ffffff;
}
.btn-warn:hover {
  background: #ff8530;
  border-color: #ff8530;
  color: #ffffff;
}
.btn-warn:active {
  background: #ff8530;
  border-color: #ff8530;
  color: #ffffff;
}
/* button height */
.btn.lg {
  /* large */
  height: 30px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
}
.btn.xl {
  /* extra large */
  height: 42px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 40px;
}
/* button width */
.btn.w-sm {
  width: 110px;
  padding: 0 !important;
}
.btn.w-lg {
  width: 180px;
  padding: 0 !important;
}
.btn.w-xl {
  width: 300px;
  padding: 0 !important;
}
/* button padding */
/* button file */
.txt[disabled],
select[disabled],
textarea[disabled],
.txt[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover,
.txt[disabled]:focus,
select[disabled]:focus,
textarea[disabled]:focus,
.txt[disabled]:active,
select[disabled]:active,
textarea[disabled]:active {
  background: #f8f8f8 !important;
  border-color: #d9d9d9 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* input text */
.txt {
  width: 110px;
  height: 26px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #cccccc;
  border-color: #cccccc;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.txt[readonly="readonly"],
.txt[readonly="readonly"]:hover,
.txt[readonly="readonly"]:focus {
  border-color: #cccccc !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.txt:hover {
  border-color: #a5a5a5;
  -webkit-box-shadow: 0 0 5px #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}
.txt:focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
/* text radius */
.txt.txt-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* text height */
.txt.xl {
  height: 42px;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 18px;
}
/* text width */
.txt.w-lg {
  width: 130px;
}
.txt.w-xl {
  width: 300px;
}
/* tel text */
/* tel height*/
/* txt section */
/* file */
/* select */
/* select height */
/* select width */
/* textarea */
/* icon */
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
/* font icon */
.f-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* form */
.form .legend {
  display: block;
  width: 100%;
}
.form .form-group:after,
.form .form-item:after {
  display: table;
  clear: both;
  content: " ";
}
.form .form-item {
  margin: 0 0 20px 0;
}
.form .form-label {
  float: left;
  width: 80px;
  color: #000000;
  font-size: 14px;
  line-height: 42px;
  text-align: right;
}
.form .form-label em {
  margin: 0 5px;
  color: #ff0000;
  font-family: simsun;
}
.form .form-cont {
  margin-left: 90px;
  line-height: 42px;
}
.form .form-cont:after {
  display: table;
  clear: both;
  content: " ";
}
.form .form-cont > label {
  margin-right: 20px;
}
.form .form-cont > label > input[type="checkbox"],
.form .form-cont > label > input[type="radio"] {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.form .form-cont > .txt,
.form .form-cont > .btn,
.form .form-cont > .txt-tel,
.form .form-cont > .txt-section,
.form .form-cont > .select,
.form .form-cont > select {
  margin-right: 10px;
}
.form .form-cont > input[type="checkbox"],
.form .form-cont > input[type="radio"] {
  margin-right: 5px;
}
/* form-inline */
.form.form-inline .form-item {
  display: inline-block;
  margin: 0 10px 15px 0;
  vertical-align: top;
}
/* form-lable-auto */
.form.form-lable-auto .form-label {
  float: left;
  margin-right: 10px;
  width: auto;
}
.form.form-lable-auto .form-cont {
  float: left;
  margin-left: 0;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #d2d2d2;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  border: 1px solid #d2d2d2;
  border-width: 1px 1px 0 1px;
  line-height: 20px;
  vertical-align: middle;
}
.table > thead > tr > th {
  background-color: #f5f5f5;
  border-top: 0;
}
table th,
table td {
  background: #fff;
  text-align: center;
}
/* table theme */
.table-line > thead > tr > th,
.table-line > tbody > tr > th,
.table-line > tfoot > tr > th,
.table-line > thead > tr > td,
.table-line > tbody > tr > td,
.table-line > tfoot > tr > td {
  border-width: 1px 0 0 0;
}
/* noborder */
.noborder {
  border: 0 !important;
}
/* interleave */
.interleave-odd > tr:nth-child(odd) > th,
.interleave-odd > tr:nth-child(odd) > td {
  background-color: #f5f5f5;
}
.interleave-even > tr:nth-child(even) > th,
.interleave-even > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
/* hover */
table > .hover > tr:hover > th,
table > .hover > tr:hover > td {
  background-color: #f5f5f5;
}
/* align */
table.table-left > thead > tr > th,
table.table-left > thead > tr > td,
table.table-left > tbody > tr > th,
table.table-left > tbody > tr > td,
table.table-left > tfoot > tr > th,
table.table-left > tfoot > tr > td,
table > thead > .table-left > th,
table > thead > .table-left > td,
table > tbody > .table-left > th,
table > tbody > .table-left > td,
table > tfoot > .table-left > th,
table > tfoot > .table-left > td,
table > thead > tr > .table-left,
table > tbody > tr > .table-left,
table > tfoot > tr > .table-left {
  text-align: left;
}
table.table-right > thead > tr > th,
table.table-right > thead > tr > td,
table.table-right > tbody > tr > th,
table.table-right > tbody > tr > td,
table.table-right > tfoot > tr > th,
table.table-right > tfoot > tr > td,
table > thead > .table-right > th,
table > thead > .table-right > td,
table > tbody > .table-right > th,
table > tbody > .table-right > td,
table > tfoot > .table-right > th,
table > tfoot > .table-right > td,
table > thead > tr > .table-right,
table > tbody > tr > .table-right,
table > tfoot > tr > .table-right {
  text-align: right;
}
table.table-center > thead > tr > th,
table.table-center > thead > tr > td,
table.table-center > tbody > tr > th,
table.table-center > tbody > tr > td,
table.table-center > tfoot > tr > th,
table.table-center > tfoot > tr > td {
  text-align: center;
}
/* table status */
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td {
  background-color: #f2dede !important;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.popup:after {
  display: table;
  clear: both;
  content: " ";
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: url(../img/ui/popup_def_close.png) no-repeat center center / 14px 14px;
}
.popup > .wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
}
.popup .hd {
  height: 40px;
  padding: 0 30px 0 8px;
  background: #f3f3f3;
  line-height: 40px;
  cursor: default ;
}
.popup .hd h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
}
.popup .btn-wrap {
  padding: 10px 0;
  text-align: center;
}
.popup.popup-primary .hd {
  background: #f3f3f3;
}
.popup.popup-info .hd {
  background: none;
}
#header {
  min-height: 70px;
  margin: 0 auto;
  padding: 10px;
}
#header .logo {
  float: left;
  width: 113px;
  margin-top: 5px;
}
#header .loginbox_event {
  float: right;
  display: inline-block;
  color: #333;
  text-align: right;
  line-height: 50px;
  font-size: 12px;
}
#header .loginbox_event i.tag-icon {
  float: left;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 14px 10px 0 0;
  background: url(../images/icon.png) 0 -22px no-repeat;
}
#header .loginbox_event em {
  padding: 0 5px;
}
#header .loginbox_event .user-name,
#header .loginbox_event span {
  display: inline-block;
  cursor: pointer;
}
#header .loginbox_event .user-name .vip-icon img {
  width: 40px;
  height: 15px;
  margin-right: 5px;
}
#header .loginbox_event .user-name p img {
  width: 10px;
  height: 6px;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
#header .loginbox_event span a,
#header .loginbox_event span a:hover {
  color: #333333;
}
#header .loginbox_event .sj-icon {
  top: -7px;
  left: 50%;
  width: 13px;
  height: 7px;
  margin-left: -6.5px;
}
#header .loginbox_event .user-center {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 2200;
  width: 110px;
  margin-left: -65px;
  padding: 10px 0;
  background: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
#header .loginbox_event .user-center a {
  display: block;
  height: 26px;
  color: #ddd;
  line-height: 26px;
  font-size: 12px;
}
#header .loginbox_event .user-center a:hover {
  background-color: #444;
}
#login-user {
  color: #35b558;
}
#loading {
  overflow: hidden;
  width: 100%;
  height: 2px;
  background: #f3f3f3;
}
#loading .loading-length {
  width: 100%;
  height: 2px;
  overflow: hidden;
  background: #35B558;
  background-image: -webkit-linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
  background-image: -moz-linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
  background-image: -ms-linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
  background-image: linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
}
#footer {
  text-align: center;
  color: #999;
  padding: 50px 0 20px;
}
#footer strong {
  font-weight: normal;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #35B558;
}
#B-blacklayer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6000;
  display: block;
  background: #000;
  background: rgba(0, 0, 0, 0.4) !important;
}
#browser {
  width: 650px;
  height: 320px;
  padding: 60px 40px;
  background: #fff;
  border-radius: 3px;
  position: fixed;
  left: 50%;
  margin-left: -325px;
  top: 50%;
  margin-top: -190px;
  z-index: 7000;
}
#browser .b-title {
  color: #35b558;
  font-size: 20px;
  text-align: center;
}
#browser .b-title strong {
  color: #35b558;
  font-size: 24px;
  text-align: center;
}
#browser p {
  color: #666;
  font-size: 12px;
  line-height: 22px;
  margin: 30px 0 70px;
}
#browser .downloading {
  text-align: center;
}
#browser .downloading a {
  display: inline-block;
  margin: 0 20px;
}
/* clearfix */
.clearfix:after,
#header:after {
  display: table;
  clear: both;
  content: " ";
}
.trs-3s {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  min-width: 1000px;
}
.wrap:after {
  display: table;
  clear: both;
  content: " ";
}
.wrapper {
  width: 100%;
  min-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
